
.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 0px;
}
h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: MeslonNerd;
}
.intro{
    display: inline-block;
}

h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main{
    color: darkgreen;
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
nav ul li a {
    text-align: none;
    color: black;
    font-weight: bold;
}